/* 設計系統變數 */

:root {
  /* Background */

  --v-surface-primary: white;
  --v-surfaces-danger:#f53434;
  --v-surfaces-warning: #e6a23c;
  --v-surfaces-success: #67c23a;
  --v-surfaces-info: #409eff;
  --v-surfaces-ghost: black;

  /* hover Background */
  --v-surfaces-hover:rgba(255,255,255,0.1);
  --v-surfaces-hover-primary:rgba(0,0,0);

  /* Disabled Backgorund */
  --v-surfaces-primary-disabled: rgba(255,255,255,1);
  --v-surfaces-danger-disabled: rgb(249, 91, 91);
  --v-surfaces-warning-disabled: #ecb35e;
  --v-surfaces-success-disabled: #86c069;
  --v-surfaces-info-disabled: #71a5f8;
  --v-surfaces-ghost-disabled: rgb(39, 39, 39);
 
  /* border */
  --v-border: 0.1px solid rgba(255,255,255,0.15);

  /* border-radius */
  --v-border-radius: 3px;

  /* border-radius round/circle */
  --v-border-radius-round: 9999px;
  --v-border-radius-circle: 9999px;

  /* Text */
  --v-text-white: white;
  --v-text-black: black; 
  --v-text-gray: rgba(220, 220, 220);  /* Using when disabled */


  /* Typography */
  --v-font-family: Inter, "SF Pro Display", sans-serif;


  /* font-size */
  --v-button-font-xs: 12px;
  --v-button-font-sm: 14px;
  --v-button-font-md: 16px;
  --v-button-font-lg: 18px;
  --v-button-font-xl: 20px;

  --v-input-font-xs: 10px;
  --v-input-font-sm: 12px;
  --v-input-font-md: 14px;
  --v-input-font-lg: 16px;
  --v-input-font-xl: 18px;
  
  /* height */
  --v-button-height-xs: 30px;
  --v-button-height-sm: 34px;
  --v-button-height-md: 38px;
  --v-button-height-lg: 42px;
  --v-button-height-xl: 46px;
  
  --v-input-height-xs: 32px;
  --v-input-height-sm: 36px;
  --v-input-height-md: 40px;
  --v-input-height-lg: 44px;
  --v-input-height-xl: 48px;

  /* transition */
  --v-transition-fast: 100ms ease;

  /* :before hover */
  --v-surfaces-hover:rgba(255,255,255,0.1);
  --v-opacity-hover: 1;
  --v-opacity-active: 0;

}